.grid_tem_area {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "b b e e e c c"
    "b b a a a c c"
    "b b a a a d d"
    "b b a a a d d";
  gap: 18px;
}

.first_item {
  grid-area: a;
}

.second_item {
  grid-area: b;
}

.third_item {
  grid-area: c;
}

.fourth_item {
  grid-area: d;
}

.fifth_item {
  grid-area: e;
}
